@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Song+Myung&display=swap');
*{
    color: white;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#logo{
    display: flex;
    align-items: center;
    margin: 0px 14px;
    font-weight: bold;
}

#logo img{
    filter: invert(1);
    height: 40px;
}

#navbar{
    background-color: red;
  }
#navbar ul{
    display: flex;
    align-items: center;

}


#navbar ul li{
    list-style: none;
    padding: 12px 30px;

}
#navbar  li a{
    text-decoration: none;
    color: white;
  font-family: 'Ranchers', cursive;

}
#navbar  li a:hover{
    color: black;


}




#introSection{
    background-color: red;
    height: 300px;
    background: url('../static/pexels-helena-lopes-697244.jpg') no-repeat center center /cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    flex-direction: column;
    font-size: 35px;
    
    
}

.small{
    font-size: 1rem;
    padding: 28px 12px;

}
#missionSection{
    height: 300px;
    font-family: 'Song Myung', serif;
    margin-left: 6px;
}
#missionSection h2{
    text-align: center;
    font-size: 35px;
    padding: 11px;
    font-family: 'Song Myung', serif;
    line-height: 50px;
    width: 99%;
    color: black;
    
}
.card{
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 185px;
    width: 30%;
     margin: 11px 22px;
    display: inline-block;
    /* background: #f9b38a; */
}
.card h3{
    text-align: center;
    margin: 12px;
    color: black;
    font-size: 23px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
    height: 100px;
    padding: 0px 14px;
}

.content p{

    color: black;
    font-size: 20px;
    padding: 0px 10px;
}



#sponsorsSection{
    background-color: #bb6b3c;
    height: 288px;
    font-family: 'Song Myung', serif;
    
}

#sponsorsSection h2{
    color: black;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Song Myung', serif;
    
}
#sponsors{
    height: 121px;
    max-width: 1000px;
    margin: 15px auto;
}
.spImage{
    height: 85%;


    margin: 34px 80px;
}

#footer{

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30px;
    background-color: black;
}